tests/*.prg
tests/*.sym
*.prg
*.sym
*.swp
*.*~
tags
TAGS
*/node_modules/
*package-lock.json
*.a
*.ini
*.o
src/gui/imgui
.plan/
ref/
.idea
AGENTS.md
.bug
src/mcp/node_modules/
sim6502
unit-tests
sim6502-gui
gui/main.o
src/opcodes_45gs02.o
src/opcodes_65c02.o
src/opcodes_65ce02.o
src/opcodes_6502_undoc.o
src/opcodes_6502.o
src/sim6502_lib.o
src/sim6502.o
