tests/*.prg
tests/*.sym
*.prg
*.sym
*.swp
*.*~
tags
TAGS
*/node_modules/
*package-lock.json
*.a
*.ini
*.o
src/gui/imgui
.plan/
ref/
.idea
AGENTS.md
.bug
src/mcp/node_modules/
sim6502
unit-tests
sim6502-gui
